/*top bar*/

.top-bar {
    background: #2F3855;
    height: 100px;
}

.top-bar h1 {
    font-size: 3em;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
}


/*bottom bar*/

.bottom-bar {
    background: #3b7382;
    height: 94px;
    padding-top: 20px;
    position: relative;
}

body {
    /* linear gradient from #3C4969 to #3E9398 */
    background: #3C4969;
    background: linear-gradient(#3C4969, #3E9398);
    color: white !important;
    margin: 0px !important;
}


/*bottom bar components*/

.send-box {
    background-color: #3b7984;
    color: white;
    height: 60px;
    border: 0 none transparent;
    border-radius: 15px;
    width: calc(100% - 202px);
    padding: 10px;
    float: left;
    box-shadow: inset 0 0 5px #333;
}

.send-btn-box {
    background-color: white;
    color: black;
    height: 45px;
    width: 85px;
    border: 0 none transparent;
    border-radius: 12px;
    padding: 0 24px 0 24px;
    margin: 8px 8px 0 12px;
    float: right;
}


.send-btn-image{
    display: none;
}

.smiley-btn {
    height: 48px;
    padding: 0 24px 0 24px;
    float: left;
}

.smiley{
    height: 32px;
    width: 32px;
    margin-top: 12px;
}

.send-box-input{
    border: 0;
    background: transparent;
    color: white;

    width: 100%;
    margin-top: 10px;
}

.send-btn{
    background: transparent;
    border: 0;
    margin-top: 10px;
}


/*chat area*/

.chat-area {
    margin-top: 130px;
}

.chat-card {
    margin-top: 30px;
}

.chat-card-left .message {
    background-color: #41aba7;
    padding: 12px 24px 12px 36px;
    border-radius: 32px;
    margin: -16px 0 0 32px;
    width: 55%;
}

.chat-card-right .message {
    background-color: #41aba7;
    padding: 12px 24px 12px 24px;
    border-radius: 32px;
    margin: 32px 32px 0 0;
    width: 55%;
    float: right;
    position: relative;
}

.chat-card-left .profile-pic {
    height: 64px;
    width: 64px;
}

.chat-card-right .profile-pic {
    height: 64px;
    width: 64px;
    position: absolute;
    right: 3%;
}

.chat-card-left .profile-name-holder {
    background-color: white;
    color: black;
    border-radius: 32px 48px 0 0;
    height: 48px;
    width: 256px;
    margin: -64px 0 0 12px;
}

.chat-card-right .profile-name-holder {
    background-color: white;
    color: black;
    border-radius: 48px 32px 0 0;
    height: 48px;
    width: 256px;
    margin: 0px 12px 0 0px;
    position: absolute;
    right: 3%;
}

.chat-card-left .profile-name-holder p {
    padding: 6px 0 0 64px;
}

.chat-card-right .profile-name-holder p {
    padding: 6px 64px 0 0;
    position: absolute;
    right: 3%;
}

.chat-card-left .time-holder {
    color: #c8c9cb;
    margin: -40px 0 0 300px;
    float: left;
}

.chat-card-right .time-holder {
    color: #c8c9cb;
    margin: 6px 300px 0 0;
    position: absolute;
    right: 3%;
}


/*info message*/

.info-message {
    background: #ffdc7e;
    color: black;
    margin: 30px auto;
    border-radius: 100px;
    width: 50%;
    text-align: center;
}


/*utilities*/

.clear-fix {
    clear: both;
}